In [24]:
import graphlab
import numpy as np
import pandas as pd

In [25]:
data=graphlab.SFrame.read_csv("kc_house_data.csv")
train_data=graphlab.SFrame.read_csv("kc_house_train_data.csv")
test_data=graphlab.SFrame.read_csv("kc_house_test_data.csv")

PROGRESS: Finished parsing file C:\Users\Shaurya\coursera\kc_house_data.csv
PROGRESS: Parsing completed. Parsed 100 lines in 0.187499 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[long,str,str,long,str,long,long,str,long,long,long,long,long,long,long,long,long,float,float,long,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file C:\Users\Shaurya\coursera\kc_house_data.csv
PROGRESS: Parsing completed. Parsed 21613 lines in 0.122237 secs.
PROGRESS: Finished parsing file C:\Users\Shaurya\coursera\kc_house_train_data.csv
PROGRESS: Parsing completed. Parsed 100 lines in 0.078126 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[long,str,str,long,str,long,long,str,long,long,long,long,long,long,long,long,long,float,float,long,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file C:\Users\Shaurya\coursera\kc_house_train_data.csv
PROGRESS: Parsing completed. Parsed 17384 lines in 0.087696 secs.
PROGRESS: Finished parsing file C:\Users\Shaurya\coursera\kc_house_test_data.csv
PROGRESS: Parsing completed. Parsed 100 lines in 0.046876 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[long,str,str,long,str,long,long,str,long,long,long,long,long,long,long,long,long,float,str,long,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file C:\Users\Shaurya\coursera\kc_house_test_data.csv
PROGRESS: Parsing completed. Parsed 4229 lines in 0.076087 secs.

In [50]:
train_data

Columns:
	id	int
	date	str
	price	float
	bedrooms	int
	bathrooms	str
	sqft_living	float
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	int
	lat	float
	long	float
	sqft_living15	int
	sqft_lot15	int

Rows: 17384

Data:
+------------+-----------------+-----------+----------+-----------+-------------+
|     id     |       date      |   price   | bedrooms | bathrooms | sqft_living |
+------------+-----------------+-----------+----------+-----------+-------------+
| 7129300520 | 20141013T000000 |  221900.0 |    3     |     1     |    1180.0   |
| 6414100192 | 20141209T000000 |  538000.0 |    3     |    2.25   |    2570.0   |
| 5631500400 | 20150225T000000 |  180000.0 |    2     |     1     |    770.0    |
| 2487200875 | 20141209T000000 |  604000.0 |    4     |     3     |    1960.0   |
| 1954400510 | 20150218T000000 |  510000.0 |    3     |     2     |    1680.0   |
| 7237550310 | 20140512T000000 | 1225000.0 |    4     |    4.5    |    5420.0   |
| 1321400060 | 20140627T000000 |  257500.0 |    3     |    2.25   |    1715.0   |
| 2008000270 | 20150115T000000 |  291850.0 |    3     |    1.5    |    1060.0   |
| 2414600126 | 20150415T000000 |  229500.0 |    3     |     1     |    1780.0   |
| 3793500160 | 20150312T000000 |  323000.0 |    3     |    2.5    |    1890.0   |
+------------+-----------------+-----------+----------+-----------+-------------+
+----------+--------+------------+------+-----------+-------+------------+---------------+
| sqft_lot | floors | waterfront | view | condition | grade | sqft_above | sqft_basement |
+----------+--------+------------+------+-----------+-------+------------+---------------+
|   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |       0       |
|   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |      400      |
|  10000   |   1    |     0      |  0   |     3     |   6   |    770     |       0       |
|   5000   |   1    |     0      |  0   |     5     |   7   |    1050    |      910      |
|   8080   |   1    |     0      |  0   |     3     |   8   |    1680    |       0       |
|  101930  |   1    |     0      |  0   |     3     |   11  |    3890    |      1530     |
|   6819   |   2    |     0      |  0   |     3     |   7   |    1715    |       0       |
|   9711   |   1    |     0      |  0   |     3     |   7   |    1060    |       0       |
|   7470   |   1    |     0      |  0   |     3     |   7   |    1050    |      730      |
|   6560   |   2    |     0      |  0   |     3     |   7   |    1890    |       0       |
+----------+--------+------------+------+-----------+-------+------------+---------------+
+----------+--------------+---------+---------+----------+---------------+-----+
| yr_built | yr_renovated | zipcode |   lat   |   long   | sqft_living15 | ... |
+----------+--------------+---------+---------+----------+---------------+-----+
|   1955   |      0       |  98178  | 47.5112 | -122.257 |      1340     | ... |
|   1951   |     1991     |  98125  |  47.721 | -122.319 |      1690     | ... |
|   1933   |      0       |  98028  | 47.7379 | -122.233 |      2720     | ... |
|   1965   |      0       |  98136  | 47.5208 | -122.393 |      1360     | ... |
|   1987   |      0       |  98074  | 47.6168 | -122.045 |      1800     | ... |
|   2001   |      0       |  98053  | 47.6561 | -122.005 |      4760     | ... |
|   1995   |      0       |  98003  | 47.3097 | -122.327 |      2238     | ... |
|   1963   |      0       |  98198  | 47.4095 | -122.315 |      1650     | ... |
|   1960   |      0       |  98146  | 47.5123 | -122.337 |      1780     | ... |
|   2003   |      0       |  98038  | 47.3684 | -122.031 |      2390     | ... |
+----------+--------------+---------+---------+----------+---------------+-----+
[17384 rows x 21 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [26]:
type(train_data['price'][0])

str

In [27]:
s=train_data['price']

In [28]:
print s

['221900', '538000', '180000', '604000', '510000', '1.225e+006', '257500', '291850', '229500', '323000', '662500', '468000', '400000', '530000', '395000', '485000', '189000', '230000', '385000', '2e+006', '285000', '252700', '329000', '937000', '667000', '438000', '719000', '280000', '687500', '322500', '696000', '550000', '640000', '240000', '625000', '861990', '685000', '309000', '488000', '210490', '785000', '450000', '1.35e+006', '228000', '345000', '600000', '585000', '920000', '885000', '301000', '951000', '430000', '650000', '505000', '549000', '425000', '317625', '975000', '287000', '204000', '1.325e+006', '1.04e+006', '325000', '360000', '832500', '380000', '480000', '410000', '720000', '390000', '355000', '356000', '315000', '940000', '305000', '461000', '215000', '335000', '1.09988e+006', '153000', '430000', '700000', '905000', '199000', '314000', '437500', '850830', '555000', '699950', '1.088e+006', '290000', '375000', '460000', '188500', '680000', '597750', '570000', '272500', '329950', '740500', ... ]

In [29]:
type(s[0])

str

In [43]:
type(train_data['sqft_living'][0])

long

In [30]:
 train_data['price']= [float(numeric_string) for numeric_string in train_data['price']]

In [44]:
train_data['sqft_living']= [float(numeric_string) for numeric_string in train_data['sqft_living']]

In [45]:
type(train_data['sqft_living'][0])

float

In [31]:
value=graphlab.linear_regression.create(train_data,target='price',features=['sqft_living'],validation_set=None)

PROGRESS: Linear regression:
PROGRESS: --------------------------------------------------------
PROGRESS: Number of examples          : 17384
PROGRESS: Number of features          : 1
PROGRESS: Number of unpacked features : 1
PROGRESS: Number of coefficients    : 2
PROGRESS: Starting Newton Method
PROGRESS: --------------------------------------------------------
PROGRESS: +-----------+----------+--------------+--------------------+---------------+
PROGRESS: | Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |
PROGRESS: +-----------+----------+--------------+--------------------+---------------+
PROGRESS: | 1         | 2        | 0.004000     | 4349521.915863     | 262943.613519 |
PROGRESS: +-----------+----------+--------------+--------------------+---------------+

In [32]:
coefficients = value['coefficients']

In [33]:
print coefficients

+-------------+-------+----------------+
|     name    | index |     value      |
+-------------+-------+----------------+
| (intercept) |  None | -47114.0231682 |
| sqft_living |  None | 281.957851229  |
+-------------+-------+----------------+
[2 rows x 3 columns]

In [34]:
-47114.0231682+(2650*281.957851229)

700074.28258865

In [35]:
def get_residual_sum_of_squares(input_feature, output, intercept,slope):
    RSS=(output-(intercept+(slope*input_feature)))**2
    RSS=RSS.sum()
    return(RSS)

In [36]:
input_feature=train_data['sqft_living']
output=train_data['price']

In [37]:
input_feature

dtype: int
Rows: 17384
[1180L, 2570L, 770L, 1960L, 1680L, 5420L, 1715L, 1060L, 1780L, 1890L, 3560L, 1160L, 1370L, 1810L, 1890L, 1600L, 1200L, 1250L, 1620L, 3050L, 2270L, 1070L, 2450L, 2450L, 1400L, 1520L, 2570L, 1190L, 2330L, 2060L, 2300L, 1660L, 2360L, 1220L, 2570L, 3595L, 1570L, 1280L, 3160L, 990L, 2290L, 1250L, 2753L, 1190L, 3150L, 1410L, 1980L, 2730L, 2830L, 2420L, 3250L, 1850L, 2150L, 2519L, 1540L, 1660L, 2770L, 2720L, 2240L, 1000L, 3200L, 4770L, 1260L, 2380L, 3430L, 1760L, 1040L, 1410L, 3450L, 2350L, 2020L, 1680L, 960L, 2140L, 2660L, 2770L, 1610L, 1030L, 3520L, 1200L, 1580L, 1580L, 3300L, 1160L, 1810L, 2320L, 2070L, 1980L, 2190L, 2920L, 1210L, 2340L, 1670L, 1240L, 3140L, 2310L, 1260L, 1540L, 2080L, 4380L, ... ]

In [38]:
input_feature=np.reshape(input_feature,(4229,1))
output=np.reshape(output,(4229,1))

ValueError: total size of new array must be unchanged

In [ ]:
inp

In [ ]:
rss=get_residual_sum_of_squares(input_feature, output, -47755.7942045,282.418092111)

In [ ]:
(800000+47114.0231682)/281.957851229

In [40]:
 from sklearn.linear_model import LinearRegression
linreg=LinearRegression()

In [46]:
linreg.fit(train_data['sqft_living'],train_data['price'])

ValueError: Found arrays with inconsistent numbers of samples: [    1 17384]